@import 'fonts'

// colores
b_silver = #ddd

body
  font-family 'Raleway-Light'
  font-size 16px

body.ngp
  table.ngp-table
    tr
      td
        vertical-align middle

body.ngp
  table.ngp-table
    td.pnpC-is-current-week
    td.pnpC-is-current-day
      a
        text-decoration: underline
        color: red
