<a href="/" class="btn btn-primary">Back</a>

<div>
  <span>id: {{ weekdetail.week.id }}</span> | <span>firstDay: {{ weekdetail.week.firstDay }}</span>
</div>
<div>
  comment: {{ weekdetail.week.comment }}
</div>

<table class="table ngp-table">
  <thead>
    <th>Day</th>
    <th>oTotal</th>
    <th>dTotal</th>
    <th>well registered</th>
  </thead>
  <tbody>
    <tr ng-repeat="day in weekdetail.days">
      <td><a class="btn btn-default" href="day/{{day.id}}">{{ day.date }}</a></td>
      <td>{{ day.oTotal }}</td>
      <td>{{ day.dTotal }}</td>
      <td>{{ day.well_registered }}</td>
    </tr>
  </tbody>
</table>